@page
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Html
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["MessagePasswordReset",
        new HtmlString("<a asp-page=\"./Login\">"),
        new HtmlString("</a>")]
</p>
