@using Bumbo.Data.Models.Enums
@model UserAdditionalWorkViewModel.InputAdditionalWork;

<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="Edit">
                <div class="modal-header">
                    <h5 class="modal-title" id="schoolAddModalLabel">Schooltijd</h5>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<input id="InputSchool_UserId" asp-for="UserId" hidden />

                    <input asp-for="Year" hidden />
                    <input asp-for="Week" hidden />*@

                    <div class="form-group">
                        <label>Dag</label>
                        <select asp-for="Day">
                            @foreach(var day in UserAdditionalWorkViewModel.InputAdditionalWork.DaysOfWeek)
                            {
                                <option value="@day">@day</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Begintijd</label>
                        <input asp-for="StartTime">
                    </div>
                    <div class="form-group">
                        <label>Eindtijd</label>
                        <input asp-for="EndTime">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function schoolModal(userId, userName, date, startTime, endTime) {
        $('#InputShift_UserId').val(userId)
        $('#InputShift_UserName').val(userName)
        $('#InputShift_Date').val(date)
        $('#InputShift_StartTime').val(startTime)
        $('#InputShift_EndTime').val(endTime)

        $('#shiftEditModal').modal('show');
    }
</script>