@model UserAdditionalWork

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div class="container">
        <form method="post" asp-action="Edit">
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Maandag</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <input type="number" name="1">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Dinsdag</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <input type="number" name="2">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Woensdag</p>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-4">
                        <input type="number" name="3">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="mb-0">Donderdag</p>
                    </div>
                </div>
            <div class="row mb-4">
                <div class="col-4">
                    <input type="number" name="4">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">Vrijdag</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <input type="number" name="5">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">Zaterdag</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <input type="number" name="6">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">Zondag</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <input type="number" name="7">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Bijwerken">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>