@page
@inject IViewLocalizer Localizer
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = Localizer["Reset authenticator key"];
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["MessageResetAuthenticator"]</strong>
    </p>
    <p>
        @Localizer["MessageDisableUntilVerify"]
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">@Localizer["Reset authenticator key"]</button>
    </form>
</div>