@using System.Globalization
@model Bumbo.Web.Models.Paycheck.PaycheckViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Week number
            </th>
            <th>
                Difference in hours
            </th>
            <th>
                Monday
            </th>
            <th>
                Tuesday
            </th>
            <th>
                Wednesday
            </th>
            <th>
                Thursday
            </th>
            <th>
                Friday
            </th>
            <th>
                Saturday
            </th>
            <th>
                Sunday
            </th>
            <th>
                Total worked hours
            </th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.WeekNumbers.Count; i++)
        {
            <tr>
                <td>
                    @Model.WeekNumbers[i]
                </td>
                @for (DateTime day = ISOWeek.ToDateTime(Model.Year, Model.WeekNumbers[i], DayOfWeek.Monday); ISOWeek.GetWeekOfYear(day) == Model.WeekNumbers[i]; day.AddDays(1))
                {
                    @for (int j = 0; j < Model.SelectedUserWorkedShifts.Count; j++)
                    {
                        if (Model.SelectedUserWorkedShifts[j].Shift.Date == day)
                        {
                            <td>
                                @Model.SelectedUserWorkedShifts[j].StartTime - @Model.SelectedUserWorkedShifts[j].EndTime
                            </td>
                        }
                        else if (Model.SelectedUserWorkedShifts[j].Shift.Date > day)
                        {
                            <td>
                               
                            </td>
                            break;
                        }
                    }
                }
                <td>
                    @Model.CalculateTotalWorkHours(Model.SelectedUser)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @*TODO: add real values*@ 
    <a asp-action="Details" asp-route-id="">Save changes</a>
    <a asp-action="Index">Back to List</a>
</div>
