@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Bumbo.Web.Models.Paycheck.PaycheckViewModel

@{
    ViewData["Title"] = "Index";
    ViewData["Weeknumbers"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contracts.First().Scale)
            </th>
            @foreach (var weeknr in ViewData["Weeknumbers"])
            {
                <th>
                    @Html.DisplayFor(modelItem => weeknr)
                </th>
            }
            <th>
                Total workhours
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var kvp in Model.WeeklyWorkedHoursPerUser)
        {
            @foreach (var item in kvp.Value)
            {
                <tr>
                    @{
                        string name = kvp.Key.FirstName + kvp.Key.MiddleName + kvp.Key.LastName;
                    }
                    <td>
                        Name
                    </td>
                    <td>
                        @name
                    </td>
                    @for (int i = Model.FirstWeekNumber; i <= Model.LastWeekNumber; i++)
                    {
                        <td>
                            @
                        </td>
                    }
                    <td>
                        Total workhours
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalWorkHours)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
