@using System.Collections
@model Bumbo.Web.Models.Schedule.DepartmentViewModel

@{
    ViewData["Title"] = "Index";
}

    <table class="table">
        <tbody>
          
        </tbody>
    </table>
