@model IEnumerable<Bumbo.Data.Models.ForecastStandard>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Activity">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Activity">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
