@model DepartmentViewModel.InputApproveScheduleModel

<div class="modal fade" id="approveScheduleModal" tabindex="-1" role="dialog" aria-labelledby="approveScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="ApproveSchedule">
                <div class="modal-header">
                    <h5 class="modal-title" id="approveScheduleModalLabel">Rooster goedkeuren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Year"></label>
                        <input asp-for="Year" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Week"></label>
                        <input asp-for="Week" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <input asp-for="Department" class="form-control" readonly/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                    <button type="submit" class="btn btn-primary">Goedkeuren</button>
                </div>
            </form>
        </div>
    </div>
</div>