@model DepartmentViewModel.InputShiftModel

<div class="modal fade" id="shiftEditModal" tabindex="-1" role="dialog" aria-labelledby="shiftEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="SaveShift">
                <div class="modal-header">
                    <h5 class="modal-title" id="shiftEditModalLabel">Dienst</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="InputShift_ShiftId" asp-for="ShiftId" hidden/>
                    <input id="InputShift_UserId" asp-for="UserId" hidden/>

                    <input asp-for="Year" hidden/>
                    <input asp-for="Week" hidden/>

                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input id="InputShift_UserName" asp-for="UserName" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date"></label>
                        <input id="InputShift_Date" asp-for="Date" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="Department"></label>
                        <input asp-for="Department" class="form-control" readonly/>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime"></label>
                        <input id="InputShift_StartTime" asp-for="StartTime" class="form-control"/>
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime"></label>
                        <input id="InputShift_EndTime" asp-for="EndTime" class="form-control"/>
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
                    <button type="submit" class="btn btn-primary">Opslaan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function shiftModal(shiftId, userId, userName, date, startTime, endTime) {
        $('#InputShift_ShiftId').val(shiftId)
        $('#InputShift_UserId').val(userId)
        $('#InputShift_UserName').val(userName)
        $('#InputShift_Date').val(date)
        $('#InputShift_StartTime').val(startTime)
        $('#InputShift_EndTime').val(endTime)
        
        $('#shiftEditModal').modal('show');
    }
</script>